/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INCICIO DEL DOCUMENTO CSS <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */


/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* //ESTILOS GENERALES // -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    padding-top: 96px;
    font-size: 1rem;
    background-color: white;
    display: grid;
    grid-template-areas:"my-header"
    "my-main"
    "my-footer";
    grid-template-rows: auto 1fr auto;
}

header{
    grid-area: my-header;
}

main{
    grid-area: my-main;
}

footer{
    grid-area: my-footer;
}

/* Modificamos el comportamiento de los enlaces */
a, a:visited{
    text-decoration: none;
}

/* Añadimos la configuración de los parrafos */
p{
    text-align: justify;
    line-height: 30px;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-* // ESTILOS BARRA DE NAVEGACIÓN // -*-*-*-*-*-*-*-*-*-*-*-*-*-
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-size: 3.4rem;
    vertical-align: middle;
    color: #41ab33;
    width: 5.5rem;
    height: 5rem;
}

@media (max-width: 661px){
    .logo{
        font-size: 1.7rem;
        width: 3rem;
        height: 2.5rem;
    }
}

#navbarNav{
    line-height: 5rem;
}

.nav-item:hover{
    background-color: #41ab33;
}

.active{
    background-color: white;
    color:black !important;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* // ESTILOS INDEX// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

#ig{
    width: 29.3rem;
    height: 25.8rem;
    border-radius: 10px;
}

#veganismo{
    width: 25rem;
    height: 25rem;
}

.carousel-item img{
    object-fit: cover;
    height: 31.25rem;
}

.news{
    text-align: justify;
    color: white;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-* //ESTILOS GALERÍA // -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.example-image{
    object-fit: cover;
    border-radius: 20px;
    width: 10.9rem;
    height: 14rem;
}

.galeria{
    width: 58%;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* //ESTILOS PRESUPUESTOS // -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

form ul{
    padding: 0;
}

form h4, .presupuesto h4{
    color: #41ab33;
}

form li{
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin-bottom: 15px;
}

form label:not(.checkbox-label){
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
    width: 9rem;
    flex-shrink: 0;
}

form input:not([type="checkbox"]), form select{
    border: none;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    flex: 1;
}

form input[type="checkbox"]{
    accent-color: #41ab33;
}

.lipriv{
    border: 1px solid #42ad34;
    width: max-content;
}

.lipriv span{
    color:#41ab33;
    font-weight: bold;
}

.liButton button{
    padding: 10px 60px;
    border: none;
    background-color: #41ab33;
    color: antiquewhite;
    letter-spacing: 0.09em;
    border-radius: 20px;
}

.liButton button:hover{
    color: black;
}

.presupuesto{
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}

.clausulas{
    font-size: 0.6rem;
    color: grey;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* //ESTILOS CONTACTO // -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

@media (max-width: 768px){
    .mapa_cont{
        flex-wrap: wrap;
    }
}

.mapa{
    width: 43.75rem;
    height: 37.5rem;
}

@media (max-width: 575px) {
    .mapa{
        width: 25rem;
        height: 37.5rem;
    }
}

#contacto h2{
    color: #41ab33;
    box-shadow: 2px 2px #41ab33;
}

.mapa{
    box-shadow: -2px -2px #41ab33;
    border: 1px solid black;
}


/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* //ESTILOS FOOTER // -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

#sectionborder{
    border-top: solid 1px #41ab33;
}

/* Estilos de los iconos */
.icons{
    color: #41ab33;
    opacity: 0.5;
}

.icons:hover{
    opacity: 1;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FIN DEL DOCUMENTO CSS <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/